<div class="row mt-3">
    <div class="col-lg-6">
        <h3>Listado de comentarios</h3>
    </div>
    <div class="col-lg-6">
        <button class="btn btn-primary float-end" routerLink="/add">Nuevo Comentario</button>
    </div>
</div>

<table *ngIf="listComments.length >0" class="table table-hover mt-3">
    <thead>
        <tr>
            <td>Titulo</td>
            <td>Creador</td>
            <td>Fecha</td>
            <td>Editar</td>
            <td>Ver</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let comment of listComments">
            <td><a [routerLink]="['/view',1]">{{comment.title}}</a></td>
            <td>{{comment.creator}}</td>
            <td>{{comment.creationDate | date:'dd/MM/yyyy'}}</td>
            <td><button class="btn btn-primary btn-sm float-end"> Editar</button></td>
            <td><button class="btn btn-danger btn-sm float-end">Borrar</button></td>

        </tr>

    </tbody>
</table>
<div *ngIf="listComments.length === 0" class="row mt-5">
    <h5>No hay comentarios para mostrar</h5>
</div>